body {
    background-color: #EEE8AA;
}

.jumbotron, h1, h2, #footer {
    color:#fff;
    text-align: center;
}

.jumbotron {
    background: url("../images/trainGiphy.gif");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;

}

.card-header {
    font-weight: bold;
    background-color: #63cc00;
}

#train-table th,
    td {
      display: inline-block;
      width: 15%;
    }

#spacing {
    height:100px;
}

#footer {
    height:75px;
    background-color: rgb(157, 190, 129);
}

#add_button {
    float:center;
}