.jumbotron, h1, h2, #footer {
    background-color: rgb(157, 190, 129);
    color:#fff;
    text-align: center;
}
.card-header {
    font-weight:bold;
}

#train-table th,
    td {
      display: inline-block;
      width: 15%;
    }

#spacing {
    height:100px;
}

#footer {
    height:75px;
}

#add_button {
    float:center;
}